bin-links=true
//registry.npmjs.org/:_authToken=9d0f740f-de7e-4486-9a72-1e5ce79dfbf5
scope=garlictech
init.author.name=Zsolt R. Molnar
init.author.email=zsolt@zsoltmolnar.hu
init.author.url=http://www.zsoltmolnar.hu
registry=http://registry.npmjs.org/
foo:port=80
@garlictech:registry=http://registry.npmjs.org/
